.main-anchor {
  display: inline;
}

.main-anchor:hover {
  cursor: pointer;
  filter: hue-rotate(-20deg) brightness(1.2);
  transition: filter 1s ease;
}

.main-anchor:hover::before {
  width: 0%;
}

.txt1 {
  color: var(--black);
}

.lc {
  padding: 3rem 3.5rem;
  padding-top: 1rem;
}

.image-container {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;
}

.overlay.show {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.images {
  height: 100%;
  width: 100%;
}

.image-container{
  flex-direction: column;
  gap: 5px;
}

.image-pair{
  width: 80%;
  display: flex;
  gap:5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: var(--themecolor);
  font-family: inter;
  font-size: 2rem;
}

.btn:active {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

#previousbtn {
  position: absolute;
  left: 5rem;
}

#nextbtn {
  position: absolute;
  right: 5rem;
}

.overlay-image {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: auto;
}

.txt1 {
  font-size: 2.5rem;
}

.txt2 {
  font-size: 2.3rem;
}

.tarrowicon{
  color: white;
  background: var(--themecolor);
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 50%;
  transition:background 0.5s ease;
  cursor: pointer;
}

.tarrowicon:hover{
  background: rgb(2 81 201);
  transition:background 0.5s ease;
}

.tocontainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.optionimgcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.optionimg{
  border-radius: 1rem;
  width: 100%;
  height: 250px;
  width: 250px;
}

.optionimg:hover{
  filter: brightness(1.3);
}

@media (max-width:1072px) {
  .btn {
    bottom: 3rem;
  }
}

@media (max-width:900px){
  .images{
    height: 100%;
    width: 100%;
  }
  .image-container{
  flex-direction: column;
  gap: 5px;
  }
  .image-pair{
    width: 80%;
    display: flex;
    gap:5px;
  }
}

@media (max-width:768px) {
  .lc {
    padding: 0rem 1.5rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }

  .all {
    padding: 2rem 2rem;
  }

  .images {
    height: 100%;
    width: 100%;
  }
  .image-pair{
    width: 95%;
  }
}

@media (max-width:501px) {
  .txt1 {
    font-size: 1.5rem;
  }

  .txt2 {
    font-size: 1.3rem;
  }

}

@media (max-width:480px) {
  .all {
    padding: 1rem 1rem;
  }
}

@media (max-width:330px) {
  #previousbtn {
    left: 1rem;
  }

  #nextbtn {
    right: 1rem;
  }

  .optionimg{
    width: 100%;
    height: 100%;
  }
}

@media (min-width:769px){
  .tocontainer{
    width: 80%;
  }
}
