@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root{
  --themecolor:rgb(0, 162, 255);
  --footercolor:rgb(88 194 255);
  --darkbluecolor:rgb(29, 35, 121);
  --huerotatedeg:0;
  --white:white;
  --black:black;
  --dspathbg:#f0fdff;
  --admininpshadow:white;
  --pichanged:white;
  --lbshadow:white;
  --lbshadowhover:white;
  --amoptbg:rgb(230, 241, 250);
  --navoverlaybg:rgb(76 77 114 / 42%);
  --hico1bg:rgb(234 237 255);
  --hico2bg:rgb(252 232 255);
  --overviewbg:rgb(243 251 255);
  --placeholdercolor:#0000007a;
  --cpbg:white;
  --cpbuttonbg:rgb(217 235 255);
}

body{
  min-height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

#main{
  flex: 1 0 auto;
}

.ppins{
  font-family: 'Poppins', sans-serif;
}

.inter{
  font-family:'Inter'; 
}

.loading-container{
  height: 100%;
  width: 100%;
  background: var(--themecolor);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

a{
  text-decoration: none;
  color: var(--themecolor);
  position: relative;
}

a:active{
  color: aquamarine;
}

a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom:0;
  left: 0;
  background-color: var(--themecolor);
  transition: width 0.2s ease-in-out;
}

a:hover::before{
  width: 100%;
}

.anchor-animation-disabled:hover::before{
  width: 0;
}

.dsurecontainer, .renamecontainer, .captioncontainer, .textchange-container, .contactpopcontainer{
  z-index: 99;
}

.hero-section-images{
  z-index: 90;
}

@media (max-width:934px){
  ul, .navbar-mains{
    z-index: 92;
  }

  .navbar-overlay{
    z-index: 89;
  }
}






